<style>
  th{
    color: black ;
  }
</style>
<div class="container" style="text-align: center;width:100%;overflow-y:visible;">
  <div class="card" style="width: 80%; height: auto;padding: 50px;">
    <h3>Datos del Empleado</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="empleadoForm">
      <div class="grid">
        <div class="col-6">
          <label for="exampleInputEmail1">BRM(Buscar)*</label>&nbsp;
          <input formControlName="brm" type="text" placeholder="BRM">
        </div>
        <div class="col-6">
          <label for="exampleSelectRounded0">Puesto* </label>
          <select formControlName="puesto">
            <option value="Desarrollador FrontEnd">Desarrollador FrontEnd</option>
            <option value="Desarrollador IOS">Desarrollador IOS</option>
            <option value="Desarrollador BackEnd">Desarrollador BackEnd</option>
          </select>
        </div>
        <div class="col-6">
          <label for="exampleInputEmail1">Nombre*</label>
          <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="col-6">
          <label class="input-group-text" for="inputGroupFile01">Foto</label>
          <input formControlName="foto" type="file" class="form-control" id="inputGroupFile01">
        </div>
      </div>
      <button class="primary" [disabled]="empleadoForm.invalid" type="submit">{{btnMensaje}}</button>
    </form>
  </div>
</div>
<div class="container" style="width: 100%; text-align: center;">
  <div class="card" style="width: 80%; height: auto;padding: 50px;">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div *ngIf="mostrarAviso" class="alert alert-success text-center" role="alert">
          {{mensajeAviso}}
        </div>
        <h3 class="text-center">Empleados</h3>
        <br>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">BRM</th>
              <th scope="col">Nombre</th>
              <th scope="col">Foto del empleado</th>
              <th scope="col">Puesto</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of empleados">
              <th scope="row">{{item.brm}}</th>
              <td>{{item.nombre}}</td>
              <td>{{item.foto}}</td>
              <td>{{item.puesto}}</td>
              <td>
                <button (click)="eliminar(item.id)" class="primary">Borrar</button>&nbsp;
                <button (click)="editar(item)" class="orange">Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<nx-alert></nx-alert>