<div class="container" style="text-align: center;width:100%;overflow-y:visible;">
  <div class="card" style="width: 40%; height: auto;padding: 50px;">
    <div class="row" style="margin-top: 10%;">
      <h2 class="text-center">Tic Tac Toe</h2>
      <div class="col-md-4" style="text-align: right;">
        <span  *ngIf="this.jugador1 == true && this.iniciar==true" ><b>Turno de:</b> Jugador 1 (O)</span>
        <span *ngIf="this.jugador2 == true &&  this.iniciar==true"><b>Turno de:</b> Jugador 2 (X)</span>
      </div>
      <div class="col-md-4">
        <div *ngIf="this.hayGanador==true"class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Juego Terminado</h5>
            <h6 class="card-subtitle mb-2 text-muted"><b>{{mensajeGanador}}!!!</b></h6>
            <p class="card-text">¿Empezar de nuevo?</p>
            <a style="cursor:pointer;" class="card-link" (click)="iniciarPartida()">Si</a>
          </div>
        </div>
        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile (ngModel)="f1" (click)="f1=true;marcarCuadro(1)" style="background: #A52A2A;">
            <span id="icon1" style="font-size: 33px;color: white;"></span>
          </mat-grid-tile>
          <mat-grid-tile (ngModel)="f2" (click)="f2=true;marcarCuadro(2)" style="background: #A52A2A;">
            <span id="icon2" style="font-size: 33px;color: white;"></span>
          </mat-grid-tile>
          <mat-grid-tile (ngModel)="f3" (click)="f3=true;marcarCuadro(3)" style="background: #A52A2A;"> <span
              id="icon3" style="font-size: 33px;color: white;"></span></mat-grid-tile>
          <mat-grid-tile (ngModel)="f4" (click)="f4=true;marcarCuadro(4)" style="background: #A52A2A;"> <span
              id="icon4" style="font-size: 33px;color: white;"></span></mat-grid-tile>
          <mat-grid-tile (ngModel)="f5" (click)="f5=true;marcarCuadro(5)" style="background: #A52A2A;"> <span
              id="icon5" style="font-size: 33px;color: white;"></span></mat-grid-tile>
          <mat-grid-tile (ngModel)="f6" (click)="f6=true;marcarCuadro(6)" style="background: #A52A2A;"> <span
              id="icon6" style="font-size: 33px;color: white;"></span></mat-grid-tile>
          <mat-grid-tile (ngModel)="f7" (click)="f7=true;marcarCuadro(7)" style="background: #A52A2A;"> <span
              id="icon7" style="font-size: 33px;color: white;"></span></mat-grid-tile>
          <mat-grid-tile (ngModel)="f8" (click)="f8=true;marcarCuadro(8)" style="background: #A52A2A;"> <span
              id="icon8" style="font-size: 33px;color: white;"></span></mat-grid-tile>
          <mat-grid-tile (ngModel)="f9" (click)="f9=true;marcarCuadro(9)" style="background: #A52A2A;"> <span
              id="icon9" style="font-size: 33px;color: white;"></span></mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-md-4">
        <button *ngIf="this.iniciar==false || this.hayGanador==true" mat-raised-button color="primary" (click)="iniciarPartida()">Iniciar Partida</button>&nbsp;
        <button *ngIf="this.iniciar==true && this.hayGanador==false " mat-raised-button color="warn" (click)="terminarPartida()">Terminar Partida</button>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>