<div class="grid col-12 header-title">  
  <div  class="col-9 row">  
    <h2 align="center" mat-dialog-title>MOTIVO DESAPLICACION</h2> 
  </div>
  <div  class="col-1 row">
    <button class="boton-limpiar close-modal"  type="button"  (click)="onNoClick()">
      <span class="material-icons">
        highlight_off
        </span>
    </button>
  </div>  
  </div>
  <div class="grid" [formGroup]="formulario" novalidate>
    <div class="col-12 row">
      <label>Motivo</label>
      <br>
      <input type="text" formControlName="motivo" style="width: 270px; height: 13px;"  maxlength="50" [(ngModel)]="motivo">
      <div *ngIf="formulario.get('motivo').errors && formulario.get('motivo').dirty">
            <p class="msgAlert"> Ingresa valores</p>
      </div>      
    </div>
    <div class="col-12 row">
      <label>abreviatura</label>
      <br>
      <input type="text" formControlName="abreviatura" style="width: 270px; height: 13px;"  maxlength="15" [(ngModel)]="abreviatura">
      <div *ngIf="formulario.get('motivo').errors && formulario.get('motivo').dirty">
            <p class="msgAlert"> Ingresa valores</p>
      </div>      
    </div>
    <div class="col-6 row">
      <br>
      <br>
      <mat-checkbox disabled='true'  [(ngModel)]="checkActivo" formControlName="check">Activo</mat-checkbox>
    </div>   
   
    <div align="right" mat-dialog-actions class="col-12 row">
      <button mat-button class="boton-agregar" [disabled]="formulario.invalid" (click)="agregarMotivoDesaplicacion()" cdkFocusInitial>Aceptar</button>
    </div>
    <div class="overlay" *ngIf="spinner">
      <div class="center" >
        <div   class="col-10 row">       
        </div>
        <div  class="col-1 row">
          <mat-spinner
          [color]="color" style="margin:0 auto;">
        </mat-spinner>
        </div>  
      </div>
    </div>
  </div>
