<main class="form-signin text-center mt-5">
  <div style="max-width: 400px;margin:auto">
    <br><br>
    <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
    <br><br>
    <div class="form-floating">
      <label for="floatingInput">Usuario</label><br>
      <input type="text" [(ngModel)]="usuario" id="floatingInput" placeholder="name@example.com">
    </div>
    <div class="form-floating">
      <label for="floatingPassword">Contraseña</label><br>
      <input type="password" [(ngModel)]="contrasena" id="floatingPassword" placeholder="Password">
    </div>
    <br>
    <button class="primary" (click)="iniciarSesion()" type="submit">Iniciar Sesión</button>
  </div>
</main>